@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
	--mainFont: "Roboto", sans-serif;
	--imageUrl: url("https://img.freepik.com/free-vector/realistic-luxury-background_23-2149319847.jpg");
	--gradient: radial-gradient(circle at 17.17% 27.01%, #163941 0, #212121 50%, #06000e 100%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #000000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: var(--imageUrl);
	color: white;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 4px;
	font-family: var(--mainFont);
}
body.noBg {
	background-image: var(--gradient);
}
.inputSection {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: center;
	padding: 8px 16px;
	background-image: radial-gradient(circle at 23.75% 23.75%, #5d594881 0, #2c2500 50%, #050000 100%);
	border-radius: 4px 8px;
	width: 380px;
	height: 270px;
	max-height: fit-content;
	position: relative;
	overflow: hidden;
	transition: height 0.5s ease-in-out;
}
.inputSection.hidden {
	height: 42px;
}
.absoluteBtns {
	position: absolute;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 90%;
	top: 12px;
}
.backgroundBtn {
	cursor: pointer;
}
.openCloseBtn {
	cursor: pointer;
	transition: 0.8s;
}
.openCloseBtn.top {
	transform: rotateX(180deg);
}
.inputSection > .actionsManager {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}
.categorySelectInput,
.categorySelectInput > option {
	font-weight: bold;
}
button,
select,
option {
	color: #fff;
	border-radius: 5px;
	padding: 8px 12px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px #ffffff80, 7px 7px 20px 0px #0000001a, 4px 4px 5px 0px #0000001a;
	outline: none;
	background: linear-gradient(0deg, #646464 0%, #292929 100%);
	background-color: #292929;
	border: none;
}
button:hover {
	background: #0003ff;
	background: linear-gradient(0deg, #292929 0%, #646464 100%);
	outline: 1px solid #646464;
	transform: scaleX(1.05);
}
.quantityWarnSpan {
	font-size: 0.5rem;
	color: #ffcc00;
	scale: 1.5;
	opacity: 0;
	user-select: none;
}
.actionsManager > div {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.actionsManager label {
	border: 2px solid #ffffff80;
	padding: 4px 8px;
	border-radius: 4px;
	cursor: pointer;
}
.actionsManager label input[type="checkbox"] {
	padding: 20px;
	scale: 1.1;
}

.establishmentInfo {
	text-align: center;
}

.resultTable {
	width: 380px;
	border-collapse: collapse;
	font-weight: 400;
	font-size: 0.75rem;
	backdrop-filter: blur(4px);
}
.resultTable * {
	border: 2px solid white;
	padding: 4px 8px;
}
.resultTable > * {
	background-color: #03030390;
}
.resultTable tbody tr {
	cursor: pointer;
}
.resultTable > tbody > *:nth-child(odd) {
	background-color: #303030d0;
}
.resultTable tr > *:nth-child(2) {
	min-width: 280px;
}
.resultTable #resultFooter.hidden {
	display: none;
}
.tdWarn {
	background-color: #ff0000;
}
#resultTableBody.hideWarning .tdWarn {
	background-color: transparent;
}

@media print {
	body {
	  height: fit-content;
	  color: black;
	}
	.inputSection {
	  display: none;
	}
	.resultTable {
	  font-size: 0.6rem;
	  width: 270px;
	}
	.resultTable > tr td:nth-child(2) {
	  width: fit-content;
	}
  }

.modalOverlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	z-index: 1000;
	background-color: #00000080;
}
.modalContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #afafaf80;
}